.navbar_container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo img {
  width: 35px;
}

.btn-navbar button {
  background: #fbca1f;
  font-family: "barcadebrawl";
  padding: 1.5em 1em;
  font-weight: 900;
  font-size: 8px;
  border: 1px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.btn-navbar:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.btn-navbar:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
